version: '3'

services:
  frontend:
    build: ./frontend/
    ports:
    - "8080:8080"
    depends_on:
        - backend
  backend:
      build: ./backend/
      ports:
      - "5000:5000"
      depends_on:
        - db
  db:
      image: redis
      ports:
      - "6379:6379"
