apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: mpldocker/frontend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
          - name: BACKEND_PORT
            value: "9000"
          - name: BACKEND_DNS
            value: "backend-service"
