apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
  - name: backend-port
    protocol: TCP
    port: 9000
    targetPort: 9000
  type: ClusterIP
