name: GO CI
on: push
env:
  docker_username: ${{ secrets.DOCKER_USERNAME }}
  docker_password: ${{ secrets.DOCKER_PASSWORD }}
jobs:
  Clone-down:
    name: Clone down repository
    runs-on: [self-hosted]
    container: gradle:6-jdk11
    steps:
      - uses: actions/checkout@v2
      - name: Upload Repo
        uses: actions/upload-artifact@v2
        with:
          name: code
          path: .
  Docker-image:
    runs-on: [self-hosted]
    steps:
      - name: Download code
        uses: actions/download-artifact@v1
        with:
          name: code
          path: .
      - name: build docker
        run: sudo chmod +x ci/build-docker.sh && export GIT_COMMIT="GA-$GITHUB_SHA" && sudo ci/build-docker.sh
      - name: push docker
        run: sudo chmod +x ci/push-docker.sh && export GIT_COMMIT="GA-$GITHUB_SHA" && sudo ci/push-docker.sh
