name: Go Test
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'
    - name: Install dependencies
      run: go mod tidy
      working-directory: ./frontend
    - name: Build frontend
      run: go build
      working-directory: ./frontend
    - name: Build backend
      run: go build
      working-directory: ./backend
    - name: Run tests
      run: go test -v ./...
      working-directory: ./frontend
