name: Go
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.18
        cache-dependency-path: subdir/go.sum
        
    - name: Build Backend
      run: cd backend && go build
    - name: Build Frontend
      run: cd frontend && go build
